.name {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  display: inline;
  margin-left: 13px;
  padding-top: 20px;
}

.exc {
  display: inline;
  width: 274px;
  height: 41px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5200ff;
  margin-left: 350px;
}

.main {
  position: absolute;
  width: 850px;
  height: 711.12px;
  border: 2px solid skyblue;
  background: #ffffff;
  margin: 0 auto;
}
.img {
  width: 825px;
  padding-left: 10px;
  padding-top: 20px;
}

.bluecolor {
  color: blue;
}
.para {
  background-color: #f9f4c8;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.last {
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  padding-left: 250px;
}
