.topnav {
  width: 82%;
  display: flex;
  justify-content: end;
}
.topnav a {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: black;
  align-self: center;
  margin-right: 13rem;
  text-decoration: none;
}
.header {
  display: flex;
  padding: 0 3rem;
}
.body {
  border-style: solid;
  border-width: 3px;
  border-color: blue;
  padding-left: 25px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.mak {
}
.line {
  border-style: solid;
  border-width: 2px;
  margin-left: 40px;
  margin-right: 40px;
}
.babu {
  width: 250px;
  border-radius: 20px;
}
.flex-container {
  flex-direction: row;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
}
.p1 {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 40px;
  padding-left: 10px;
}
.l {
  font-size: 40px;
  margin-top: -10px;
}
.flex-container1 {
  flex-direction: row;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  margin-right: 30px;
}
.flex-container2 {
  flex-direction: row;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  margin-right: 30px;
}
.operator {
  width: 100px;
  margin-top: 20px;
}
.exp {
  font-size: 25px;
  font-weight: 800;
}
.dev {
  width: 70px;
  margin-top: 18px;
  padding-bottom: 5px;
}
.operator:hover {
  transform: scale(1.5);
}
.dev:hover {
  transform: scale(1.5);
}
.st {
  font-size: 25px;
  margin-left: -12px;
}
.st:hover {
  color: blue;
}
.nd {
  font-size: 25px;
  margin-left: -17px;
}
.nd:hover {
  color: blue;
}
.flex-container3 {
  flex-direction: row;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  margin-right: 30px;
  flex-wrap: wrap;
}
.pimg {
  width: 380px;
  height: 380px;
  margin-bottom: 20px;
  position: relative;
}
.sub {
  background-origin: padding-box;
}
.boxed {
  border: 1px solid green;
  text-align: center;
  background-color: lightskyblue;
}
.cnt {
  font-size: 25px;
}
.last {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto";
  font-style: italic;
  padding-bottom: 40px;
  color: #0776a6;
}
input {
  width: 200px;
  padding: 1rem;
  float: right;
  border: 2px solid black;
  margin-left: 4rem;
}

/* input is not a class
im targetting all the input tags */
