.lo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.web {
  text-align: center;
  font-size: 40px;
}
.ln {
  height: 2px;
  color: black;
  border: none;
  background: black;
  margin-left: 40px;
  margin-right: 40px;
}
.topnav a {
  font-weight: 800;
  font-size: 24px;
  color: rgb(13, 13, 141);
  align-self: center;
  margin-right: 8rem;
  margin-left: 8rem;
  text-decoration: none;
  padding-left: 65px;
  width: 30px;
  font-family: Rounded Mplus 1c;
  text-align: left;
}
.flex-container1 {
  display: flex;
  direction: row;
  justify-content: space-around;
  padding-top: 35px;
}
.flex-container1:hover {
  transform: scale(1.05);
}
.intro {
  font-family: Rounded Mplus 1c;
  font-size: 36px;
  font-weight: 800;
  line-height: 53px;
  letter-spacing: 0em;
  padding-left: 50px;
}
.flex-container2 {
  display: flex;
  direction: row;
  justify-content: space-around;
  padding-top: 35px;
}
.para {
  font-size: 24px;

  font-family: Rounded Mplus 1c;

  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: justified;
}
.services {
  width: 300px;
  align-self: center;
  size: 200px;
}
.line {
  height: 4px;
  color: black;
  border: none;
  background: black;
  margin-left: 400px;
  margin-right: 400px;
}
.services {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  padding-left: 600px;
  text-align: center;
}
.list {
  font-weight: 400;
  font-size: 32px;
  padding-left: 650px;
}
body {
  padding: 40px;
}
.develope {
  justify-content: center;
  font-size: 32px;
  color: white;
  background: black;
  border-radius: 28px;
  text-align: center;
}
.last {
  background-image: url("last.png");
}
.flex-container4 {
  display: flex;
  direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
}
